.page-title-holder.d-flex.align-items-center
  %h1.page-title= _('Activity')

.top-area
  %ul.nav-links.nav.nav-tabs
    %li{ class: active_when(params[:filter].nil?) }>
      = link_to activity_dashboard_path, class: 'shortcuts-activity', data: {placement: 'right'} do
        您的项目
    %li{ class: active_when(params[:filter] == 'starred') }>
      = link_to activity_dashboard_path(filter: 'starred'), data: {placement: 'right'} do
        星标项目
