- @hide_top_links = true

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, dashboard_projects_url(rss_url_options), title: "所有活动")

= render_dashboard_gold_trial(current_user)

- page_title    "活动"
- header_title  "活动", activity_dashboard_path

= render "projects/last_push"
= render 'dashboard/activity_head'

%section.activities
  = render 'activities'
